<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        header.header 
            section.nav
                .wrapper
                    a(href="#").logo RELAP
                    ul.header__menu
                        li 
                            a(href="#") Home
                        li 
                            a(href="#") Features
                        li
                            a(href="#") Works
                        li
                            a(href="#") About
                        li 
                            a(href="#") People
                        li 
                            a(href="#") News
                        li
                            a(href="#") Contacts
                    span.search
                    span.ham
                        span.hamburger
            .wrapper
                h1 Sint et molestiae recusandae
                p.header__h1-descr Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                a(href="#").btn Read more
        main
            section.about
                .wrapper
                    h2 Sapiente delectus
                    p.h2-descr Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    article.about__content
                        .about__content-item
                            h3 Consequuntur
                            p.h3-descr Enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                        .about__content-item
                            h3 Voluptatem
                            p.h3-descr Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                        .about__content-item
                            h3 Quisquam
                            p.h3-descr Quis nostrum exercitationem ullam corporis suscipit laboriosam
                        .about__content-item
                            h3 Aliquid
                            p.h3-descr Quis autem vel eum iure reprehenderit voluptate velit esse quam nihil
                        .about__content-item
                            h3 Excepteur
                            p.h3-descr Sint occaecat cupidatat non proident culpa qui officia deserunt mollit anim
                        .about__content-item
                            h3 Accusamus
                            p.h3-descr Odio dignissimos ducimus qui blanditiis praesentium voluptatum
            section.features
                .wrapper
                    article.features__image
                    article.features__content
                        h2 Reiciendis voluptatibus
                        p.h2-descr Nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                        p.h2-descr-add Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                        article.proc
                            span
                                p 42%
                                p Alias consequatur
                            span 
                                p +73
                                p Perferendis doloribus
                        a(href="#").btn Features
            section.phone 
                .wrapper 
                    .phone__text
                        h2 Asperiores repellat
                        p.h2-descr Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                        .phone__icons
                            .phone__icons-item
                                h3 Eiusmod
                                p.h3-descr Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            .phone__icons-item
                                h3 Tempor
                                p.h3-descr Duis aute irure dolor in reprehenderit voluptate velit esse cillum dolore
                            .phone__icons-item
                                h3 Consequat
                                p.h3-descr Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            .phone__icons-item
                                h3 Dolore
                                p.h3-descr Unde omnis iste natus error sit voluptatem accusantium
                    .phone__img
            section.price
                .wrapper
                    h2 Totam aperiam
                    p.h2-descr Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    article.price__cards 
                        .price__cards-item
                            h3 Sunt in culpa
                            p.cost $9
                            ul
                                li Qui officia deserunt
                                li Mollitia animi
                                li Laborum et dolorum
                            a.btn Buy plan
                        .price__cards-item
                            h3 Distinctio
                            p.cost $18
                            ul
                                li Qui officia deserunt
                                li Mollitia animi
                                li Laborum et dolorum
                            a.btn Buy plan
                        .price__cards-item
                            h3 Soluta nobis
                            p.cost $97
                            ul
                                li Qui officia deserunt
                                li Mollitia animi
                                li Laborum et dolorum
                            a.btn Buy plan
            section.people
                .wrapper
                    h2 Eaque ipsa
                    p.h2-descr Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    article.people__cards 
                        .people__cards-item
                            p.h3-descr "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."
                            h3 Vikentiy Chaykovsky
                        .people__cards-item
                            p.h3-descr "Vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."
                            h3 Richardo Kann
                    span.btn-left
                    span.btn-right
            section.works
                .wrapper
                    article.works__text
                        h2 Veritatis
                        p.h3-descr Placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                        a.btn See all
                    article.works__cards
                        .works__cards-item
                            h3 Iste natus error sit voluptatem
                            p Accusantium doloremque
                        .works__cards-item
                            h3 Totam rem aperiam
                            p Eaque ipsa 
                        .works__cards-item
                            h3 Quae ab illo inventore
                            p Veritatis
            section.contact
                .wrapper 
                    article.contact__img
                    article.contact__content
                        h2 Poris suscipit laboriosam
                        p.h2-descr Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        p.h2-descr-add Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                        form
                            input(type="email" placeholder="Your email")
                            input(type="submit" value="Contact us")
                        p Quis nostrum exercitationem
            section.news 
                .wrapper
                    h2 Nisi aliquid
                    article.news__cards
                        .news__cards-item
                            p.date June 01/ 2019
                            h3 Dolorem eum fugiat quo voluptas
                            p.h3-descr Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae.
                        .news__cards-item
                            p.date June 02/ 2019
                            h3 Accusamus et iusto odio dignissimos
                            p.h3-descr Atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
                        .news__cards-item
                            p.date June 03/ 2019
                            h3 Ducimus qui blanditiis praesentium
                            p.h3-descr Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta.
            section.forms 
                .wrapper 
                    article.forms__text
                        h2 Repudiandae
                        p.h3-descr Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias.
                        h3 Aspernatur
                        p.h3-address 123 earum rerum hic tenetur a sapiente delectus, 42
                        h3 Reiciendis
                        a(href="tel:+1 (234) 567 89 01") +1 (234) 567 89 01
                        br
                        a(href="mailto:maiores@info.com") maiores@info.com
                        section.forms__social 
                            a(href="#").fasebook
                            a(href="#").twitter
                            a(href="#").instagram
                    article.forms__main
                        form
                            h3 Alias consequatur
                            label(for="text") Your name
                            input(type="text" placeholder="Name" id="text")
                            label(for="email") Your email
                            input(type="email" placeholder="Email" id="email")
                            label(for="textarea") Your message
                            textarea(placeholder="Message" id="textarea")
                            input(type="submit" value="Send")
        footer.footer
            .wrapper
                section.footer__first
                    h4 Consectetur
                    p.h3-descr Duis aute irure dolor reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                section.footer__second
                    h4 Tempor
                    ul 
                        li 
                            a(href="#") Sunt in culpa qui officia 
                        li 
                            a(href="#") Deserunt mollit anim
                        li 
                            a(href="#") Sed ut perspiciatis
                section.footer__third
                    h4 Magna
                    ul
                        li 
                            p.h3-descr 123 dignissimos ducimus, 42
                        li
                            a(href="mailto:maiores@info.com") maiores@info.com
                        li
                            a(href="tel:+1 (234) 567 89 01") +1 (234) 567 89 01                   
                section.footer__form
                    h4 Omnis
                    form 
                        input(type="email" placeholder="Your email")
                        input(type="submit" value=" ") 
                section.footer__copyright
                    p.h3-descr Copyright 2019. All Rights Reserved.
                    








